data/*data*
data/*.csv
venv/*
utils/*pycache*/*
*pycache*/*
code/*power*
models/*energy*
models/*power*
models/*split*/*seed*/*test*/*val*/*.pkl
models/*split*/*seed*/*test*/*val*/*cells*/*.pkl
models/*split*/*seed*/*test*/*.pkl
models/*split*/*seed*/*test*/*cells*/*.pkl
models/*split*/*seed*/*test*/*val*/*.h5
models/*split*/*seed*/*test*/*val*/*cells*/*.h5
models/*split*/*seed*/*test*/*.h5
models/*split*/*seed*/*test*/*cells*/*.h5
models/*split*/*seed*/*test*/*val*/*.json
models/*split*/*seed*/*test*/*val*/*cells*/*.json
models/*split*/*seed*/*test*/*.json
models/*split*/*seed*/*test*/*cells*/*.json
models/*nested*/*seed*/*
models/*single*/*seed*/*2*/*
models/*single*/*seed*/*3*/*
models/*single*/*seed*/*4*/*
models/*single*/*seed*/*5*/*